
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.formItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.formItem label {
  margin-bottom: 10px;
  color: #333;
}

.formItem input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  /*color: #333;*/
}

.submitButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #00bfa5;
  color: white;
  cursor: pointer;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
